:root {
  --white: rgba(255, 255, 255, 1);
  --royal-blue: rgba(36, 5, 242, 1);
  --dark-blue: rgba(40, 41, 56, 1);
  --grey: rgba(244, 246, 252, 1);
  --yellow: rgba(252, 217, 128, 1);
  --tint-blue: rgba(28, 30, 83, 1);
  --accent: rgba(238, 244, 250, 1);
  --heading-1-font-family: "Poppins", Helvetica;
  --heading-1-font-weight: 600;
  --heading-1-font-size: 54px;
  --heading-1-letter-spacing: 0px;
  --heading-1-line-height: 74px;
  --heading-1-font-style: normal;
  --heading-2-font-family: "Poppins", Helvetica;
  --heading-2-font-weight: 600;
  --heading-2-font-size: 48px;
  --heading-2-letter-spacing: 0px;
  --heading-2-line-height: 64px;
  --heading-2-font-style: normal;
  --heading-3-font-family: "Poppins", Helvetica;
  --heading-3-font-weight: 600;
  --heading-3-font-size: 38px;
  --heading-3-letter-spacing: 0px;
  --heading-3-line-height: 56px;
  --heading-3-font-style: normal;
  --heading-4-font-family: "Poppins", Helvetica;
  --heading-4-font-weight: 500;
  --heading-4-font-size: 36px;
  --heading-4-letter-spacing: 0px;
  --heading-4-line-height: 56px;
  --heading-4-font-style: normal;
  --heading-5-font-family: "Poppins", Helvetica;
  --heading-5-font-weight: 500;
  --heading-5-font-size: 32px;
  --heading-5-letter-spacing: 0px;
  --heading-5-line-height: 48px;
  --heading-5-font-style: normal;
  --heading-6-font-family: "Poppins", Helvetica;
  --heading-6-font-weight: 500;
  --heading-6-font-size: 24px;
  --heading-6-letter-spacing: 0px;
  --heading-6-line-height: 36px;
  --heading-6-font-style: normal;
  --label-01-font-family: "Poppins", Helvetica;
  --label-01-font-weight: 500;
  --label-01-font-size: 18px;
  --label-01-letter-spacing: 0px;
  --label-01-line-height: 32px;
  --label-01-font-style: normal;
  --label-2-font-family: "Poppins", Helvetica;
  --label-2-font-weight: 500;
  --label-2-font-size: 16px;
  --label-2-letter-spacing: 0px;
  --label-2-line-height: 28px;
  --label-2-font-style: normal;
  --body-1-font-family: "Poppins", Helvetica;
  --body-1-font-weight: 400;
  --body-1-font-size: 16px;
  --body-1-letter-spacing: 0px;
  --body-1-line-height: 28px;
  --body-1-font-style: normal;
  --body-2-font-family: "Poppins", Helvetica;
  --body-2-font-weight: 500;
  --body-2-font-size: 16px;
  --body-2-letter-spacing: 0px;
  --body-2-line-height: 28px;
  --body-2-font-style: normal;
}
